:root {
    --bg-light: #FFFFFF;
    --bg-base: #F5F5F5;
    --bg-dark: #D9D9D9;

    --text-primary: #1E1E1E;
    --text-secondary: #757575;
    --text-tertiary: #B3B3B3;
    --text-inverse: #FFFFFF;

    --border: #D9D9D9;
    --border-hard: #1E1E1E;
    --border-primary: #641C31;

    --primary: #972647;
    --primary-hover: #7A1E3A;

    --error: #C00F0C;
    --warn: #DACA1D;
    --ok: #14AE5C;
    --info: #3495DA;


    --radius-small: 5px;
    --radius-medium: 8px;
    --radius-full: 9999px;


    --border-style: 1.5px solid;
}

* {
	box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: var(--bg-base);
    color: var(--text-primary);
    font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}

header {
    display: flex;
    gap: 2rem;
    padding: 0.25rem 8rem;
    align-items: center;
    background-color: var(--bg-light);
    border-bottom: var(--border-style) var(--border);
}

.avatar {
    height: 2rem;
    width: 2rem;
    border-radius: var(--radius-full);
    margin-left: auto;
}

.content {
    display: flex;
    flex: 1;
    min-height: 0;
}

aside {
    display: flex;
    flex-direction: column;
    min-width: 20%;
    align-items: flex-start;
    background-color: var(--bg-light);
    border-right: var(--border-style) var(--border);
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 4rem;
}

footer {
    margin-top: auto;
    padding: 0.25rem;
    width: 100%;
    background-color: var(--bg-light);
    border-top: var(--border-style) var(--border);
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

form button[type="submit"] {
    align-self: end;
    margin-top: 1rem;
}

label {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    text-align: left;
}





.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1rem;
}

.flex {
    display: flex;
    gap: 0.5rem;
}

.row {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.space-between {
    justify-content: space-between;
}

.flex-1 {
    flex: 1;
}




.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}





.bg-light {
    background: var(--bg-light);
}

.muted {
    color: var(--text-secondary);
}

.border {
    border: var(--border-style) var(--border);
}

.rounded-small {
    border-radius: var(--radius-small);
}

.rounded-medium {
    border-radius: var(--radius-medium);
}

.rounded-full {
    border-radius: var(--radius-full);
}

.m-0 {
    margin: 0;
}

.m-sm {
    margin: 0.5rem;
}

.m-md {
    margin: 1rem;
}

.m-lg {
    margin: 1.5rem;
}

.ml-auto {
    margin-left: auto;
}

.p-0 {
    padding: 0;
}

.p-sm {
    padding: 0.5rem;
}

.p-md {
    padding: 1rem;
}

.p-lg {
    padding: 1.5rem;
}

.text-center {
    text-align: center;
}



button, .button {
    background: var(--primary);
    color: var(--text-inverse);
    text-decoration: none;
    font-size: 16px;
    border: var(--border-style) var(--border-primary);
    border-radius: var(--radius-medium);
    padding: 5px 10px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover, .button:hover {
    background: var(--primary-hover);
}

button.ghost, .button.ghost {
    background: var(--bg-base);
    color: var(--text-primary);
    border: none;
}

button.ghost:hover, .button.ghost:hover {
    background: var(--bg-dark);
}

input {
    background-color: var(--bg-base);
    border: var(--border-style) var(--border);
    border-radius: var(--radius-medium);
    padding: 0.5rem;
    font-size: 16px;
}

.logo {
    height: 2.5rem;
    margin: 5px;
}

.logo-large {
    height: 4rem;
    margin: 1.5rem;
}

.card {
    background: var(--bg-light);
    border: var(--border-style) var(--border);
    border-radius: var(--radius-medium);
    padding: 2rem;
    text-align: center;
    min-width: 35%;
    margin: auto;
}

.icon-small {
    height: 1rem;
    width: 1rem;
}



.chart-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 8px;
}

.legend {
    display: flex;
    gap: 14px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.legend-item {
    display: flex;
    gap: 4px;
    align-items: center;
    font-size: 12px;
    opacity: .9;
}

.legend-swatch {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 2px;
}

.legend-value {
    font-weight: bold;
}

.alert {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.alert.error {
    color: var(--error);
}

.alert.warn {
    color: var(--warn);
}

.alert.info {
    color: var(--info);
}

.alert.ok {
    color: var(--ok);
}
