<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}Orca{% endblock %}</title>
    <link rel="icon" type="image/png" href="/static/favicon.png">
    <link rel="stylesheet" href="/static/style.css">
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <img src="/static/orca-long-dark.svg" alt="Orca Logo" class="logo">
        <nav>
            <a href="/" class="button ghost">Home</a>
            <a href="/settings" class="button ghost">Settings</a>
        </nav>
        <div class="flex ml-auto align-center">
            <a href="/login" class="button">Login</a>
            <img src="/static/default-avatar.png" alt="User Avatar" class="avatar">
        </div>
    </header>
    <div class="content">
        <aside>
            <footer>
                <p class="muted">&copy; 2025 - Orca</p>
            </footer>
        </aside>
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
</body>
</html>
