{% from "components/alert.html" import alert %}

{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="card">
        <h1 class="m-0">Login</h1>
        <img src="/static/orca-long-dark.svg" alt="Logo" class="logo-large" />
{% if error %}
        {{ alert("error", error) }}
{% endif %}
        <form method="post" action="/login">
            <label>Email
                <input type="email" name="email" required />
            </label>
            <label>Password
                <input type="password" name="password" required />
            </label>
            <button type="submit">Login</button>
        </form>
    </div>
{% endblock %}
